<div class="content">
 <div class="row">
   <div class="col-sm-4">  <img src="img/chapter01/littleChapterFlag.png" align="left" position="fixed">
                           <img src="img/illustrations/illustrationLeft.png" align="left" position="fixed"> </div>
    <div class="col-sm-4" id="bubble" position="fixed" >  </div>
    <div class="col-sm-4" id="illuRight">
      <img src="img/illustrations/illustrationRight.png" position="fixed" style="margin-top: 45px">


      <button class="buttons" id="buttonUp" type="button" (click)="scrollWin(0,-80)"> <img src="img/chapter10/scrollUp.png"> </button>
        <button class="buttons" id="buttonDown" type="button" (click)="scrollWin(0,80)">  <img src="img/chapter10/scrollDown.png"> </button>
    </div>
 </div>
 </div>
