#myModalTrue{
  font-family: 'Comic Sans MS', sans-serif;
  font-size: 13pt;
  color: white;
}
.inputPW{
  width:210px;
  text-align:right;
  float:left;
  margin-left: 180px;
  padding-right: 5px;
  padding-top: 9px;
  font-family: 'Comic Sans MS', sans-serif;
  color: #d3ddf2;
}

#delete{
  margin-top: 15px;
  font-size: 13px;
}

.defaultbutton{
      font-family: 'Comic Sans MS', sans-serif;
      font-size: 13pt;
      font-weight: 800;
      letter-spacing: 2px;
      line-height: 11pt;
      border-radius: 5px;
      background-clip: padding-box;
      width: 150px;
      height: 40px;
      padding-top: 1px;
      color: white;
      border: blue;
      background-color: #011B3C;
}

 #inputPassword:focus{
  border: 2px solid #727AB2;
}

input {
  width: auto;
}

input.form-control{
  box-shadow: none;
    margin-top: 10px;
    height: 40px;
    width: 300px;
    border: 2px solid #a5b5de;
    padding: 5px 10px 6px;
    font-family: 'Comic Sans MS', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 13pt;

}

#inputPassword{
  color: #001a28;
}
