body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color:lightblue;
}
body .footer :link, body .footer :visited{

  color: #a5b5de;
  text-decoration: none;
  text-underline: none;
}

body .container :link, body .container :visited{
  color: #a5b5de;
  text-decoration: none;
  text-underline: none;
}


#popPw .popover{
  width: 300px;
  color: black;
  background-color:  #D2DDF1;
  font-family:  'Comic Sans MS', sans-serif;
  font-size: 13pt;
  margin-top: 62px;
}

#popPw .popover .arrow{
top: 20px !important;
}

#popPw .popover .arrow:after{
  border-right-color: #D2DDF1;
}

.header {
  margin: auto;
padding-bottom:  100px;
}

.form-signin{
  background-color: white;

}
.container{
  margin-bottom: 100px;
}


.logoWrapper{
 text-align: center;
 margin: auto;
 margin-bottom: 20px;
}
#footer{
  text-align: center;
  color: #a5b5de;
}

#footerMain{
  text-align: center;
  color: #8da6d6;
  background-color:  #011B3C;
  height: 50px;
 width: 100%;

 padding-top: 5px;
}

#regist{
  text-align: center;
  color: #a5b5de;

}

#inputBenutzer:focus, #inputPassword:focus{
  border: 2px solid #727AB2;
}

input {
  width: auto;
}
input.form-control{
  box-shadow: none;
    margin: auto;
    margin-top: 10px;
    height: 40px;
    width: 300px;
    border: 2px solid #a5b5de;
    padding: 5px 10px 6px;
    font-family: 'Comic Sans MS', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 13pt;

}
#inputBenutzer {
    color: #d3ddf2;
}

#inputPassword{
  color: #001a28;
}

.button{

text-align: center;
margin-top: 20px;

}

.defaultbutton{
      font-family: 'Comic Sans MS', sans-serif;
      font-size: 13pt;
      font-weight: 800;
      letter-spacing: 2px;
      line-height: 11pt;
      border-radius: 5px;
      background-clip: padding-box;
      width: 150px;
      height: 40px;
      padding-top: 1px;
      color: white;
      border: blue;
      background-color: #011B3C;
}

input.form-control::-webkit-input-placeholder{
  font-family: 'Comic Sans MS', sans-serif;
  color: #a5b5de;
}

#navbar {
  background-color: #011B3C;
  margin-left:auto;
  margin-right:auto;

}

.logo{
  min-width: 768px;
  max-width: 1080px;
  padding-top: 12px;
  margin-left:auto;
  margin-right:auto;
  padding-left: 471px;

}

.navigation{
  background-color: #011B3C;
  min-width: 768px;
  max-width: 1080px;
  margin-left:auto;
  margin-right:auto;

}

.content{
  min-width: 768px;
  max-width: 1080px;
  margin-left:auto;
  margin-right:auto;
  margin-top: 30px;
}

#bubble {
  text-align: center;
  margin-top: 25px;
  padding-bottom: 35px;
}

.buttons{
 background: transparent;
 position: fixed;
 align: right;
}

#buttonDown{
  bottom: 55px;
  border: none;
  outline: none;
}

#buttonUp{
  margin-top:10px;
  border: none;
  outline: none;
}

.main{
  background-color: #f29db7;
}


.dropdown .dropdown-menu {
 border-width: 5px;
 border-color: white;
 text-decoration: none;

}

.navigation .dropdown ul.dropdown-menu {
  background-color: #011B3C;
    margin-top:10px;
    width:300px;
    border-radius: 5px;
}

.dropdown ul.dropdown-menu:before {
    content: "";
    border-bottom: 8px solid white;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    position: absolute;
    top: -13px;
    left: 25px;



}
.dropdown ul.dropdown-menu:after {
  content: "";

    border-bottom: 10px solid white;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -15px;
    left: 20px;
}

.dropdown ul.dropdown-menu {
  color: #4565ad;
  font-family: 'Comic Sans MS', sans-serif;
  font-size: 11pt;
}

.dropdown ul.dropdown-menu a{
  color: white;
  font-family: 'Comic Sans MS', sans-serif;
  font-size: 13pt;
  font-weight: bold;
  padding: 5px;

}

.dropdown ul.dropdown-menu:hover a{
  color: white;
  padding: 5px;
}


.dropdown ul.dropdown-menu li {
 list-style-position: outside;
 border-top: 5px solid white;

}


#imgConfi {
  padding-left: 10px;
  padding-top: 5px;
}

#kom1{
  background-color: #79ab2e;

}
#kom1:hover a{
  background-color: #a1c153;
}

#kom2{
  background-color: #c6d54f;

}
#kom2:hover a{
  background-color: #dbe283;

}

#kom3{
  background-color: #94c122;

}
#kom3:hover a{
  background-color: #bad151;
}

#kom4{
  background-color: #44b284;

}
#kom4:hover a{
  background-color: #7cc3a3;

}

#kom5{
  background-color: #ffdd00;
}
#kom5:hover a{
  background-color: #ffea64;
}
#kom6{
  background-color: #ffed98;

}
#kom6:hover a{
  background-color: #fff3d8;
}

#kom7{
  background-color: #fbb900;

}
#kom7:hover a{
  background-color: #ffcf53;
}

#kom8{
  background-color: #ef7d25;

}
#kom8:hover a{
  background-color: #f5a04c;
}

#kom9{
  background-color: #d60d66;

}
#kom9:hover a{
  background-color: #e35184;
}

#kom10{
  background-color: #ea518d;

}
#kom10:hover a{
  background-color: #ee7ba9;
}

#kom11{
  background-color: #f29db7;

}
#kom11:hover a{
  background-color: #f7bed2;
}

#kom12{
  background-color: #a62068;

}
#kom12:hover a{
  background-color: #c9427e;
}
#kom13{
  background-color: #008fc8;

}
#kom13:hover a{
  background-color: #4fa8da;
}

#kom14{
  background-color: #62c2d0;

}
#kom14:hover a{
  background-color: #94d3e5;
}

#kom15{
  background-color: #004077;

}
#kom15:hover a{
  background-color: #005daa;
}
#kom16{
  background-color: #3873b9;

}
#kom16:hover a{
  background-color: #658bc8;
}

.contentPW {
  text-align: center;
  padding-top: 100px;
}

.pwLogo{
  font-family: 'Comic Sans MS', sans-serif;
  font-size: 20pt;
  font-weight: 800;
  color: #001a3a;
}

#pwHeadline{
  padding-top: 12px;
}

.pwChange{
  text-align: center;
}

.inputPW{
  text-align: right;
  float: left;
}

#aendern{
  margin-top: 15px;
  font-size: 13px;
}
