<div class="contentAll">
<div class="Headline"> <img name="head" src="img/student/superhero-anonym.png" >
  <p> {{app-change-avatar}} </p>
      <p id="textHeadline"> AVATAR ÄNDERN</p>
    </div>

      <div class=aButton>
        <button type="submit" id="abbrechen" class="defaultbutton">ABBRECHEN</button>
        <button type="submit" id="speichern" class="defaultbutton">SPEICHERN</button>
      </div>
        <div class="row">
          <div class="col-md-1"><a href="#" (click)="swap('head','img/student/superhero-batman-big-active.png')"><img src="img/student/superhero-batman-big-active.png"  alt="eine grafik" ></a></div>
          <div class="col-md-1"><a href="#" (click)="swap('head','img/student/superhero-catwoman-big-active.png')"><img src="img/student/superhero-catwoman-big-active.png"  alt="eine grafik" ></a></div>
          <div class="col-md-1"><a href="#" (click)="swap('head','img/student/superhero-gandalf-big-active.png')"><img src="img/student/superhero-gandalf-big-active.png"  alt="eine grafik" ></a></div>
          <div class="col-md-1"><a href="#" (click)="swap('head','img/student/superhero-greenlatern-big-active.png')"><img src="img/student/superhero-greenlatern-big-active.png"  alt="eine grafik" ></a></div>
          <div class="col-md-1"><a href="#" (click)="swap('head','img/student/superhero-hulk-big-active.png')"><img src="img/student/superhero-hulk-big-active.png"  alt="eine grafik" ></a></div>
          <div class="col-md-1"><a href="#" (click)="swap('head','img/student/superhero-kickass-big-active.png')"><img src="img/student/superhero-kickass-big-active.png"  alt="eine grafik" ></a></div>
          <div class="col-md-1"><a href="#" (click)="swap('head','img/student/superhero-luke-big-active.png')"><img src="img/student/superhero-luke-big-active.png"  alt="eine grafik" ></a></div>
        </div>
        <div class="row">
          <div class="col-md-1"><a href="#" (click)="swap('head','img/student/superhero-robin-big-active.png')"><img src="img/student/superhero-robin-big-active.png"  alt="eine grafik" ></a></div>
          <div class="col-md-1"><a href="#" (click)="swap('head','img/student/superhero-skeletor-big-active.png')"><img src="img/student/superhero-skeletor-big-active.png"  alt="eine grafik" ></a></div>
          <div class="col-md-1"><a href="#" (click)="swap('head','img/student/superhero-spiderman-big-active.png')"><img src="img/student/superhero-spiderman-big-active.png"  alt="eine grafik" ></a></div>
          <div class="col-md-1"><a href="#" (click)="swap('head','img/student/superhero-superman-big-active.png')"><img src="img/student/superhero-superman-big-active.png"  alt="eine grafik" ></a></div>
          <div class="col-md-1"><a href="#" (click)="swap('head','img/student/superhero-superwoman-big-active.png')"><img src="img/student/superhero-superwoman-big-active.png"  alt="eine grafik" ></a></div>
          <div class="col-md-1"><img src="img/student/superhero-anonym.png"  alt="eine grafik" ></div>
          <div class="col-md-1"><img src="img/student/superhero-anonym.png"  alt="eine grafik" ></div>
        </div>
        <div class="row">
          <div class="col-md-1"><img src="img/student/superhero-anonym.png"  alt="eine grafik" ></div>
          <div class="col-md-1"><img src="img/student/superhero-anonym.png"  alt="eine grafik" ></div>
          <div class="col-md-1"><img src="img/student/superhero-anonym.png"  alt="eine grafik" ></div>
          <div class="col-md-1"><img src="img/student/superhero-anonym.png"  alt="eine grafik" ></div>
          <div class="col-md-1"><img src="img/student/superhero-anonym.png"  alt="eine grafik" ></div>
          <div class="col-md-1"><img src="img/student/superhero-anonym.png"  alt="eine grafik" ></div>
          <div class="col-md-1"><img src="img/student/superhero-anonym.png"  alt="eine grafik" ></div>
        </div>
        <div class="row">
          <div class="col-md-1"><img src="img/student/superhero-anonym.png"  alt="eine grafik" ></div>
          <div class="col-md-1"><img src="img/student/superhero-anonym.png"  alt="eine grafik" ></div>
          <div class="col-md-1"><img src="img/student/superhero-anonym.png"  alt="eine grafik" ></div>
          <div class="col-md-1"><img src="img/student/superhero-anonym.png"  alt="eine grafik" ></div>
          <div class="col-md-1"><img src="img/student/superhero-anonym.png"  alt="eine grafik" ></div>
          <div class="col-md-1"><img src="img/student/superhero-anonym.png"  alt="eine grafik" ></div>
          <div class="col-md-1"><img src="img/student/superhero-anonym.png"  alt="eine grafik" ></div>
        </div>
        <div class="row">
          <div class="col-md-1"><img src="img/student/superhero-anonym.png"  alt="eine grafik" ></div>
          <div class="col-md-1"><img src="img/student/superhero-anonym.png"  alt="eine grafik" ></div>
          <div class="col-md-1"><img src="img/student/superhero-anonym.png"  alt="eine grafik" ></div>
          <div class="col-md-1"><img src="img/student/superhero-anonym.png"  alt="eine grafik" ></div>
          <div class="col-md-1"><img src="img/student/superhero-anonym.png"  alt="eine grafik" ></div>
          <div class="col-md-1"><img src="img/student/superhero-anonym.png"  alt="eine grafik" ></div>
          <div class="col-md-1"><img src="img/student/superhero-anonym.png"  alt="eine grafik" ></div>
        </div>

        <div class=bButton>
          <button type="submit" id="abbrechen" class="defaultbutton">ABBRECHEN</button>
          <button type="submit" id="speichern" class="defaultbutton">SPEICHERN</button>
        </div>

</div>
