
<app-header></app-header>

<div class="contentAll">
<div class="Headline"> <img name="head" src="..{{getProfil.avatarBigUrl}}">
      <p id="textHeadline"> AVATAR ÄNDERN</p>
    </div>
      <div class=aButton>
        <button type="submit" id="abbrechen" class="defaultbutton" (mousedown)="abbrechen()">ABBRECHEN</button>
        <button type="submit" id="speichern1" class="defaultbutton" (mousedown)="speichern()" disabled="true">SPEICHERN</button>
        <div class="modal fade" id="myModalAva1" role="dialog">
        <div class="modal-dialog">


          <div class="modal-content">

              <button type="button" class="close" data-dismiss="modal"><img src="images/delete.png"></button>
              <br><br><br>
              <h4 class="modal-title"><div><img src="images/confirmation.png"></div>
            </h4>
              <br>
              <p>{{message.message}}</p>

              <br><br><br>
      </div>

        </div>
      </div>
      </div>

        <div class="avatare">
  <div  *ngFor="let item of getAvatar" style="width: 100px;float:left;" >
        <img name="bild{{item._id}}" src="{{item.avatarBigUrl}}"  alt="eine grafik" (click)="swap(item._id)">


  </div>

</div>

<div class=bButton>
  <button type="submit" id="abbrechen" class="defaultbutton" (mousedown)="abbrechen()">ABBRECHEN</button>
  <button type="submit" id="speichern2" class="defaultbutton" (mousedown)="speichern()" disabled="true">SPEICHERN</button>
  <div class="modal fade" id="myModalAva2" role="dialog">
  <div class="modal-dialog">


    <div class="modal-content">

        <button type="button" class="close" data-dismiss="modal"><img src="images/delete.png"></button>
        <br><br><br>
        <h4 class="modal-title"><div><img src="images/confirmation.png"></div>
      </h4>
        <br>
        <p>{{message.message}}</p>

        <br><br><br>
</div>

  </div>
</div>
</div>

<app-footer></app-footer>
