<nav id="navbar" class="navbar navbar-default navbar-fixed-top">
      <div class="navigation" >
          <ul id="left" class="nav navbar-nav navbar-left">
            <li><app-drop-kompetenz></app-drop-kompetenz></li>
            <li><app-drop-foerderplan></app-drop-foerderplan></li>
            <li><app-drop-erreicht></app-drop-erreicht></li>
          </ul>

          <ul id="right" class="nav navbar-nav navbar-right" >
            <li><app-drop-profil></app-drop-profil></li>
            <li><app-drop-schule></app-drop-schule></li>
            <li><app-drop-klasse></app-drop-klasse></li>
            <li><app-drop-fragen></app-drop-fragen></li>
            <li><app-drop-logout></app-drop-logout></li>
          </ul>

        </div>
          <div class="logo"> <img src="images/logo.png"> </div>

    </nav>
