.popover-content {
  background-color: #001a3a;
  color: white;
  border: 3px solid white;

  font-family: 'Comic Sans MS', sans-serif;
  font-size: 11pt;

}

body{
    min-width: 768px;
    max-width: 1080px;
    margin-left:auto;
    margin-right:auto;
    margin-top: 28px;
    padding-top: 30px;
    padding-bottom: 40px;
}

body .footer :link, body .footer :visited, body .container :link, body .container :visited{
  color: #a5b5de;
  text-decoration: none;
  text-underline: none;
}

li .dropdownrechts {
  margin-top: 12px;
}
li .dropdownleft{
  margin-top: 12px;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  background-color: transparent;
}

.buttons{
 background: transparent;
 position: fixed;
 align: right;

}

#footerMain{
  text-align: center;
  color: #8da6d6;
  background-color: #011B3C;
  height: 50px;
 width: 100%;
 padding-top: 5px;
}

#navbar {
  background-color: #011B3C;
  margin-left:auto;
  margin-right:auto;
  height: 60px;
  margin-bottom: 0px;

}

.logo{
  min-width: 768px;
  max-width: 1080px;
  padding-top: 12px;
  margin-left:auto;
  margin-right:auto;
  padding-left: 471px;

}
.navigation{
  background-color: #011B3C;
  min-width: 768px;
  max-width: 1080px;
  margin-left:auto;
  margin-right:auto;

}

.dropdownrechts .dropdown-menu {
 border-width: 5px;
 border-color: white;
 text-decoration: none;
}

.dropdownleft .dropdown-menu {
 border-width: 5px;
 border-color: white;
 text-decoration: none;
}

.navigation .dropdownrechts ul.dropdown-menu {
  background-color: #011B3C;
    margin-top:10px;
    width:300px;
    border-radius: 5px;
}


.navigation .dropdownleft ul.dropdown-menu {
  background-color: #011B3C;
    margin-top:10px;
    width:300px;
    border-radius: 5px;
}
.dropdownleft ul.dropdown-menu:before {
    content: "";
    border-bottom: 8px solid white;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    position: absolute;
    top: -14px;
    left: 6px;
}

.dropdownleft ul.dropdown-menu:after {
  content: "";

    border-bottom: 10px solid white;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -14px;
    left: 6px;
}

.dropdownrechts ul.dropdown-menu:before {
    content: "";
    border-bottom: 8px solid white;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    position: absolute;
    top: -14px;
    right: 6px;
}

.dropdownrechts ul.dropdown-menu:after {
  content: "";

    border-bottom: 10px solid white;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -14px;
    right: 6px;
}

.dropdownrechts ul.dropdown-menu {
  color: #4565ad;
  font-family: 'Comic Sans MS', sans-serif;
  font-size: 11pt;
}
.dropdownleft ul.dropdown-menu {
  color: #4565ad;
  font-family: 'Comic Sans MS', sans-serif;
  font-size: 11pt;
}

.dropdownleft ul.dropdown-menu a{
  color: white;
  font-family: 'Comic Sans MS', sans-serif;
  font-size: 12pt;
  font-weight: bold;
  padding: 7px;

}

.dropdownrechts ul.dropdown-menu a{
  color: white;
  font-family: 'Comic Sans MS', sans-serif;
  font-size: 12pt;
  font-weight: bold;
  padding: 7px;

}

.dropdownrechts ul.dropdown-menu li {
 border-top: 3px solid white;

}
.dropdownleft ul.dropdown-menu li {
 border-top: 3px solid white;
}

.contentAll {
  text-align: center;
  padding-top: 60px;
}

.Headline{
  font-family: 'Comic Sans MS', sans-serif;
  font-size: 20pt;
  font-weight: 800;
  color: #001a3a;

}

#textHeadline{
  margin-top: 12px;
  margin-bottom: 20px;
}


#imgConfi {
  padding-left: 10px;
  padding-top: 5px;
  height:90px;
  float: left;
}

.dropdown-menu>li>a:hover {

    background-color: transparent;
  }
