<div class="container">
 <form class="form-signin">
   <div class="logoWrapper"><img id="Check" src="img/login/header.png" alt="eine grafik" ></div>
   <input type="text" id="inputBenutzer" class="form-control" placeholder="BENUTZERNAME">
   <input type="password" id="inputPassword" class="form-control" placeholder="Passwort" >

  <div class="button">
      <button type="submit" class="defaultbutton">LOS!</button><br>
      <span id="regist"class="regist">Sie möchten mit CHECK! arbeiten?<p>
        <a href="http://www.check-lehrerzimmer.com/contact/" title="Zum Registrieren" target="_blank"style="text-decoration: underline">Jetzt registrieren.</a></span>
    </div>
  </form>
</div>

<div id="footer" class="footer" ng-show="!fullScreenMode">
  <img src="img/login/footer.png"/><br>
  <span class="footerproductedition" style="color:black">edition 2016 dark night blue 1.0</span>

  <br><br> CHECK! Lehrerzimmer ist ein Produkt des <a href="http://www.raupundritter.com" target="_blank">Raup&amp;Ritter Verlags</a> und der <a href="http://www.onwerk.de" target="_blank">Onwerk GmbH Softwareagentur Mannheim</a><br>
  <a href="http://www.check-lehrerzimmer.com/contact/" title="Zum Kontaktformular" target="_blank">Kontakt</a>

  <a href="http://www.check-lehrerzimmer.com/impressum/" title="Impressum" target="_blank">Impressum</a>

  <a href="http://www.check-lehrerzimmer.com/preise/" title="Preise" target="_blank">Preise</a>

  <a href="http://www.check-lehrerzimmer.com/hilfe/" title="Hilfe" target="_blank">Hilfe</a>
  <br>
  <a href="http://www.raupundritter.com" title="Zur Webseite von Raup&Ritter" target="_blank">www.raupundritter.com</a>
</div>
