<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown"  href="#"><img src="img/chapterOverview-inactive.png" alt="eine grafik" ></a>
    <ul class="dropdown-menu">
        <label id="imgConfi" ><img src="../img/confirmation.png"  alt="eine grafik" >
        <label>CHECK!<br>KOMPETENZLISTE</label></label><br><br>

        <li id="kom1"><a href="">DAS BIN ICH!</a></li>
        <li id="kom2"><a href="">ICH UND DIE ANDEREN</a></li>
        <li id="kom3"><a href="">DIE WELT UM MICH HERUM</a></li>
        <li id="kom4"><a href="">ICH WERDE SELBSTSTÄNDIG</a></li>
        <li id="kom5"><a href="">SICH BEWEGEN</a></li>
        <li id="kom6"><a href="">LERNEN</a></li>
        <li id="kom7"><a href="">ARBEITEN</a></li>
        <li id="kom8"><a href="">GESTALTEN UND ERSCHAFFEN</a></li>
        <li id="kom9"><a href="">SPRECHEN</a></li>
        <li id="kom10"><a href="">FREMDSPRACHE</a></li>
        <li id="kom11"><a href="">LESEN</a></li>
        <li id="kom12"><a href="">SCHREIBEN</a></li>
        <li id="kom13"><a href="">MESSEN</a></li>
        <li id="kom14"><a href="">LÖSUNGEN FINDEN</a></li>
        <li id="kom15"><a href="">ZÄHLEN UND RECHNEN</a></li>
        <li id="kom16"><a href="">FORM UND RAUM ENTDECKEN</a></li>
    </ul>
</li>
