<li class="dropdownleft"><a class="dropdown-toggle" data-toggle="dropdown"  href="#"><img src="images/chapterOverview-inactive.png" alt="eine grafik"
  name="dropkom"   (click)="activeKom()" aria-pressed="true"></a>
    <ul class="dropdown-menu">
      <label id="imgConfi" ><img src="../images/confirmation.png"  alt="eine grafik" >
        <label>CHECK!<br>KOMPETENZLISTE</label></label>

    <br><br><br><br>  <li *ngFor="let item of getChapter" id ="KOM{{item._id}}"
      [ngStyle]="{'background-color':item.strongcolor}"
    (mouseenter)="onHover($event,item.weakcolor)"
    (mouseleave)="unHover($event,item.strongcolor)"
    (mouseup)="load(item._id)">
     <a [routerLink]="['/allCompetence', item._id]" [routerLinkActive]="['active']">{{item.name}}</a></li>

    </ul>
</li>
