<div class="contentAll">
    <div class="Headline"> <img src="img/change-password.png">
      <p id="textHeadline"> PASSWORT ÄNDERN </p>
    </div>

    <form>
      <div class="pwChange">
        <div>
        <label class="inputPW"> AKTUELLES PASSWORT*  </label> <input type="password" id="inputPassword" class="form-control">
        </div>
        <div>
        <label class="inputPW"> NEUES PASSWORT*   </label><input type="password" id="popPw" class="form-control" data-toggle="popover"
        data-placement="auto right" data-trigger="focus" animation="true"data-content="Aus Sicherheitsgründen muss das
        Passwort mindestens 7-stellig sein sowie einen Großbuchstaben, eine Ziffer und ein Sonderzeichen enthalten.">
      </div>
        <div>
        <label class="inputPW"> PASSWORT BESTÄTIGUNG*  </label> <input type="password" id="inputPassword" class="form-control">
      </div>
      </div>
    </form>

    <button type="submit" id="aendern" class="defaultbutton">ÄNDERN</button>
</div>
