#myModal{
  font-family: 'Comic Sans MS', sans-serif;
  font-size: 13pt;
  color: white;
}
label{
  margin-bottom: 0;
}

.avatare{
  width: 800px;
  margin-left: 150px;
  margin-right: 150px;
}
.inputPW{
  width:210px;
  text-align:right;
  float:left;
  margin-left: 180px;
  padding-right: 5px;
  padding-top: 9px;
  font-family: 'Comic Sans MS', sans-serif;
  color: #d3ddf2;

}

#aendern{
  margin-top: 15px;
  font-size: 13px;
}

.defaultbutton{
  margin-top: 50px;
      font-family: 'Comic Sans MS', sans-serif;
      font-size: 13pt;
      font-weight: 800;
      letter-spacing: 2px;
      line-height: 11pt;
      border-radius: 5px;
      background-clip: padding-box;
      width: 150px;
      height: 40px;
      padding-top: 1px;
      color: white;
      border: blue;
      background-color: #011B3C;
}

#popPw .popover{
  width: 300px;
  color: black;
  background-color:  #D2DDF1;
  font-family:  'Comic Sans MS', sans-serif;
  font-size: 13pt;
  margin-top: 62px;
}

#popPw .popover .arrow{
top: 20px !important;
}

#popPw .popover .arrow:after{
  border-right-color: #D2DDF1;
}

#inputPassword:focus{
  border: 2px solid #727AB2;
}
#inputPassword{
  color: #001a28;
}

#inputPasswordnew:focus{
  border: 2px solid #727AB2;
}
#inputPasswordnew{
  color: #001a28;
}

input {
  width: auto;
}

input.form-control{
  box-shadow: none;
    margin-top: 10px;
    height: 40px;
    width: 300px;
    border: 2px solid #a5b5de;
    padding: 5px 10px 6px;
    font-family: 'Comic Sans MS', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 13pt;

}
