/* You can add global styles to this file, and also import other style files */
body .footer :link, body .footer :visited, body .container :link, body .container :visited{

  color: #a5b5de;
  text-decoration: none;
  text-underline: none;
}

.form-signin{
  background-color: white;

}
body{
  margin-top: 50px;
}

.logoWrapper{
 text-align: center;
 margin: auto;
 margin-bottom: 20px;
}

#footer{
  text-align: center;
  color: #a5b5de;
}

#regist{
  text-align: center;
  color: #a5b5de;
}


#inputBenutzer:focus, #inputPassword:focus{
  border: 2px solid #727AB2;
}

input {
  width: auto;
}
input.form-control{
  box-shadow: none;
    margin: auto;
    margin-top: 10px;
    height: 40px;
    width: 300px;
    border: 2px solid #a5b5de;
    padding: 5px 10px 6px;
    font-family: 'Comic Sans MS', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 13pt;

}
#inputBenutzer {
    color: #d3ddf2;
}

#inputPassword{
  color: #001a28;
}

.button{

text-align: center;
margin-top: 20px;

}

.defaultbutton{
      font-family: 'Comic Sans MS', sans-serif;
      font-size: 13pt;
      font-weight: 800;
      letter-spacing: 2px;
      line-height: 11pt;
      border-radius: 5px;
      background-clip: padding-box;
      width: 150px;
      height: 40px;
      padding-top: 1px;
      color: white;
      border: blue;
      background-color: #011B3C;
      margin-bottom: 20px;
}

input.form-control::-webkit-input-placeholder{
  font-family: 'Comic Sans MS', sans-serif;
  color: #a5b5de;
}
.container{
  margin-bottom: 100px;
}
